/**
 * Layer Color settings.
 */

// =============================================================================
// Color settings
// =============================================================================

$black: BLACK;
$white: WHITE;

$blue--jacarta: #342c66;

$yellow--laser: #e9ff70;
$yellow--manz: #d9ed68;
