/**
 * Monster theme.
 */

// =============================================================================
// Monster theme
// =============================================================================

@import "~@angular/material/theming";

@import "zentity/button-theme";
// @import "zentity/button-toggle-theme";
// @import "zentity/dialog-theme";
@import "zentity/form-field-theme";
// @import "zentity/paginator-theme";
// @import "zentity/snack-bar-theme";
// @import "zentity/table-theme";
// @import "zentity/tooltip-theme";



// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$zentity-primary: mat-palette($mat-blue);
$zentity-accent:  mat-palette($mat-amber);

// The warn palette is optional (defaults to red).
$zentity-warn:  mat-palette($mat-deep-orange);

// Create the theme object (a Sass map containing all of the palettes).
$zentity-theme: mat-light-theme($zentity-primary, $zentity-accent, $zentity-warn);

// Typography config.
$zentity-config: mat-typography-config(
    $font-family: "Roboto Mono, Helvetica, sans-serif",
);


@mixin zentity-material-theme($theme: $zentity-theme) {

    @include zentity-button-theme();
    // @include zentity-button-toggle-theme();
    // @include zentity-dialog-theme();
    @include zentity-form-field-theme();
    // @include zentity-paginator-theme();
    // @include zentity-snack-bar-theme();
    // @include zentity-table-theme();
    // @include zentity-tooltip-theme();

}

@mixin zentity-material-config($conf: $zentity-config) {

    @include zentity-button-typography();
    // @include zentity-button-toggle-typography();
    // @include zentity-dialog-typography();
    @include zentity-form-field-typography();
    // @include zentity-paginator-typography();
    // @include zentity-snack-bar-typography();
    // @include zentity-table-typography();
    // @include zentity-tooltip-typography();

}


// =============================================================================

@mixin angular-material-theme($theme) {

    @include mat-core-theme($theme);
    // @include mat-autocomplete-theme($theme);
    // @include mat-badge-theme($theme);
    // @include mat-bottom-sheet-theme($theme);
    @include mat-button-theme($theme);
    // @include mat-button-toggle-theme($theme);
    // @include mat-card-theme($theme);
    // @include mat-checkbox-theme($theme);
    // @include mat-chips-theme($theme);
    // @include mat-table-theme($theme);
    // @include mat-datepicker-theme($theme);
    // @include mat-dialog-theme($theme);
    // @include mat-divider-theme($theme);
    // @include mat-expansion-panel-theme($theme);
    @include mat-form-field-theme($theme);
    // @include mat-grid-list-theme($theme);
    // @include mat-icon-theme($theme);
    @include mat-input-theme($theme);
    // @include mat-list-theme($theme);
    // @include mat-menu-theme($theme);
    // @include mat-paginator-theme($theme);
    // @include mat-progress-bar-theme($theme);
    // @include mat-progress-spinner-theme($theme);
    // @include mat-radio-theme($theme);
    @include mat-select-theme($theme);
    // @include mat-sidenav-theme($theme);
    // @include mat-slide-toggle-theme($theme);
    // @include mat-slider-theme($theme);
    // @include mat-stepper-theme($theme);
    // @include mat-sort-theme($theme);
    // @include mat-tabs-theme($theme);
    // @include mat-toolbar-theme($theme);
    // @include mat-tooltip-theme($theme);
    // @include mat-tree-theme($theme);
    // @include mat-snack-bar-theme($theme);

}

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

@include angular-material-theme($zentity-theme);
@include angular-material-typography($zentity-config);


// =============================================================================

@include zentity-material-theme();
@include zentity-material-config();
