<form autocomplete="off"
      [formGroup]="calculator"
      (ngSubmit)="onSubmit(calculator)">

    <ng-container formGroupName="input">
        <mat-form-field class="amount"
                        appearance="outline"
                        color="accent">
            <input type="number"
                   min="0"
                   required
                   formControlName="amount"
                   matInput>
        </mat-form-field>
        <mat-form-field class="currency"
                        appearance="outline"
                        color="accent">
            <mat-select formControlName="currency">
                <mat-option [value]="currency"
                            *ngFor="let currency of currencies">
                    {{ currency }}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </ng-container>
    <ng-container formGroupName="output">
        <mat-form-field class="output amount"
                        appearance="outline">
            <input type="number"
                   class="u-none"
                   readonly
                   tabIndex="-1"
                   formControlName="amount"
                   matInput>
            <input type="text"
                   readonly
                   tabIndex="-1"
                   [value]="conversion | number:'1.2-2'"
                   matInput>
        </mat-form-field>
        <mat-form-field class="output currency"
                        appearance="outline">
            <input readonly
                   formControlName="currency"
                   matInput>
        </mat-form-field>
    </ng-container>

    <button class="button --large --110 u-text --upper"
            color="accent"
            mat-flat-button
            [disabled]="!isSubmitAllowed">
        Submit
    </button>

</form>
