/**
 * Component List.
 *
 * @requires component
 */

@import "component";


// =============================================================================
// List
// =============================================================================

table {
    margin: 1rem 0;
}

td {
    text-align: right;
}

.total {
    color: $yellow--laser;
    font: {
        size: 3rem;
        weight: 500;
    }
    line-height: 1.5;
    margin: 0;
    text-align: right;
}
