/**
 * Component Card settings.
 */

// =============================================================================
// Card settings
// =============================================================================

// Set card background.
$card-background: $blue--jacarta;

// Set card border color.
$card-border-color: $blue--jacarta;

// Set card border size.
$card-border-size: 1px;

// Set card border radius.
$card-border-radius: 5px;

// Set card indent.
$card-indent: 1rem;
