/**
 * Form field theme.
 *
 * param {Map} $theme
 */

@mixin zentity-form-field-theme($theme: ()) {

    .mat-form-field {
        width: 100%;
    }

    .mat-form-field-outline {
        background-color: rgba(WHITE, 0.125);
        border-radius: 5px;
    }

    .mat-form-field-wrapper {
        padding: {
            bottom: 0;
            top: 0;
        }

        &[class][class] {
            margin: {
                bottom: 0;
                top: 0;
            }
        }
    }

}

/**
 * Form field typography.
 *
 * param {Map} $conf
 */

@mixin zentity-form-field-typography($conf: ()) {

    .mat-form-field-infix {
        &[class] {
            width: auto;
        }
    }

    .mat-input-element {
        &[type] {
            text-align: right;
        }
    }

}
